$health-color: #FF6165;
$mana-color: #50B5E9;
$experience-color: #FFB445;
$border-color: rgba(151, 151, 151, .2);

.MMM-HabiticaStats.background-blur {
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 25px;
}

.MMM-HabiticaStats.landscape {
	max-width: 1500px;
	min-width: 1200px;

	.column {
		display: inline-block;
		box-sizing: border-box;
		float: left;
		width: 49%;
	}
}

.MMM-HabiticaStats.portrait {
	width: 570px;
}

.MMM-HabiticaStats {
	box-sizing: border-box;
	padding: 10px 25px;
	font-size: 25px;
	text-align: left;

	.main-stats {
		padding: 15px 0;
		text-transform: uppercase;
		margin-left: -15px;

		.habitica-icon-buff {
			width: 20px;
			padding-right: 10px;
		}

		.middot-separator {
			margin: 0 10px;
		}

		.small-stat-icon {
			position: relative;
			top: 3px;
			margin-right: 15px;
			filter: drop-shadow( 1px 1px 4px rgba(10, 10, 10, .3));
		}

		.wealth-group {
			padding-right: 40px;

			.unit {
				margin-left: 15px;
			}
		}

		.level {
			margin-bottom: 10px;
		}

	}

	.title-header {

		img {
			display: inline-block;
			width: 60px;
			margin-bottom: -5px;
			padding-right: 10px;
		}

		h1 {
			display: inline-block;
			font-size: 49px;
			margin-bottom: 0px;
		}

		.spacer {
			width: 100%;
			height: 0px;
			margin-bottom: 15px;
			margin-top: -5px;
			border-bottom: 3px solid $border-color;
		}
	}

	.small-stats {
		margin-left: 15px;
		float: left;
	}

	.rings {
		margin: 15px 0px 15px -20px;
	}

	.death-warning {
		border: 1px solid $health-color;
		padding: 5px 15px;

		i {
			font-size: 50px;
			display: block;
			float: left;
			margin: 5px 20px 5px 5px;
		}
	}

	.title {
		text-transform: uppercase;
	}

	.stat-ring {
			margin: 0 20px 0 0;
			width: 160px;
			text-align: center;
			position: relative;
			float: left;
			.current-stat {
				font-weight: bold;
			}
			.max-stat {
				font-weight: 300;
			}
	}

	.circular-chart {
		width: 120px;
		margin: 0 auto;
		display: block;
		transform: rotate(-90deg);
		transform-origin: center center;
		filter: drop-shadow( 2px 2px 4px rgba(10, 10, 10, .2));
	}

	.circle {
		fill: none;
		stroke-width: 4;
		stroke-linecap: round;
		animation: progress 1s ease-out forwards;

	}

	.shadow-circle {
		stroke: #585858;
		fill: none;
		stroke-width: 4;
		stroke-linecap: round;
		stroke-opacity: 0.4;
	}

	.health {
		stroke: $health-color;
	}

	.experience {
		stroke: $experience-color;
	}

	.mana {
		stroke: $mana-color;
	}

	.stat-icon {
		position: absolute;
		top: calc(50% - 23px);
		left: calc(50% - 23px);
		width: 45px;
		height: 45px;
		filter: drop-shadow( 2px 2px 4px rgba(10, 10, 10, .5));
	}

	@keyframes progress {
		0% {
			stroke-dasharray: 0 100;
		}
	}

	.big-stat-group {
		margin: 20px 0;

		.title {
			margin-bottom: 10px;
		}
	}

	.big-stat {
		font-size: 49px;
		padding-right: 10px;
		position: relative;
		top: 4px;
	}

	.stat-group {
		border-left: 2px solid $border-color;
		padding: 10px 0 4px 0;

		i {
			padding-right: 15px;
			position: relative;
		}

		.fa-users {
			top: -4px;
			left: -15px;
		}

		.fa-user {
			top: -4px;
			left: -11px;
		}

		.fa-calendar {
			top: -5px;
			left: -11px;
		}

		.fa-check-circle {
			top: -4px;
			left: -13px;
		}
	}

	.stat-group.due {
		float: left;
		width: 48%;
	}
}
.habitica-icon {
	display: inline-block;
}

.hi-gold {
	width: 24px;
	height: 24px;
	background: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%20fill%3D%22%23FFA623%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M6.3%2017.7c-3.1-3.1-3.1-8.2%200-11.3%203.1-3.1%208.2-3.1%2011.3%200%22%20opacity%3D%22.5%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M17.7%206.3c3.1%203.1%203.1%208.2%200%2011.3-3.1%203.1-8.2%203.1-11.3%200%22%20opacity%3D%22.25%22%2F%3E%3Cpath%20fill%3D%22%23BF7D1A%22%20d%3D%22M12%202C6.5%202%202%206.5%202%2012s4.5%2010%2010%2010%2010-4.5%2010-10S17.5%202%2012%202zm0%2018c-4.4%200-8-3.6-8-8s3.6-8%208-8%208%203.6%208%208-3.6%208-8%208z%22%20opacity%3D%22.5%22%2F%3E%3Cpath%20fill%3D%22%23BF7D1A%22%20d%3D%22M13%209v2h-2V9H9v6h2v-2h2v2h2V9z%22%20opacity%3D%22.75%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') center center no-repeat;
}

.hi-gem {
	width: 24px;
	height: 24px;
	background: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%2324CC8F%22%20d%3D%22M0%209l5-7h14l5%207-12%2013z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M7%208.8L6%204h6zM17%208.8L18%204h-6z%22%20opacity%3D%22.25%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M7%208.8L12%204l5%204.8zM2.6%208.8L6%204l1%204.8z%22%20opacity%3D%22.5%22%2F%3E%3Cpath%20fill%3D%22%231B996B%22%20d%3D%22M21.4%208.8L18%204l-1%204.8zM2.6%208.8H7l5%2010.3z%22%20opacity%3D%22.35%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M21.4%208.8H17l-5%2010.3z%22%20opacity%3D%22.5%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M7%208.8h10l-5%2010.3z%22%20opacity%3D%22.25%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') center center no-repeat;
}
.hi-buffed {
	width: 25px;
	height: 23px;
	padding-right: 5px;
	background: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2010%2012%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5%200l5%206H7v2H3V6H0l5-6zM3%209h4v1H3V9zm0%202h4v1H3v-1z%22%2F%3E%3C%2Fsvg%3E') center center no-repeat;
}

.hi-hourglass {
	width: 22px;
	height: 25px;
	background: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2025%2024%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23A9DCF6%22%20fill-opacity%3D%22.8%22%20d%3D%22M5.105%2018.122v2.555c0%20.3.134.586.377.763%202.647%201.935%209.952%201.935%2012.6%200a.941.941%200%200%200%20.376-.763v-2.555c0-2.331-1.196-4.568-3.007-5.9a.957.957%200%200%201%200-1.553c1.81-1.333%203.007-3.57%203.007-5.9V2.213c0-.3-.134-.586-.375-.761-2.649-1.936-9.954-1.936-12.601%200a.935.935%200%200%200-.377.761V4.77c0%202.33%201.196%204.567%203.008%205.9a.957.957%200%200%201%200%201.552c-1.812%201.333-3.008%203.57-3.008%205.9%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%22.9%22%20d%3D%22M11.782%201.907c2.169%200%203.857.394%204.768.844v2.017c0%201.68-.854%203.353-2.23%204.365a2.883%202.883%200%200%200-1.174%202.312c0%20.907.438%201.771%201.173%202.312%201.377%201.013%202.231%202.685%202.231%204.364v2.019c-.91.45-2.6.843-4.768.843-2.17%200-3.858-.394-4.769-.843V18.12c0-1.679.854-3.351%202.23-4.363a2.883%202.883%200%200%200%201.174-2.313c0-.907-.438-1.77-1.173-2.312-1.377-1.012-2.23-2.685-2.23-4.365V2.751c.91-.45%202.599-.844%204.768-.844%22%2F%3E%3Cpath%20fill%3D%22%239A62FF%22%20d%3D%22M12%203.34c-1.626%200-3.35.151-3.367.554-.015.325-.007.955%201.314%201.624%201.283.652%201.524%201.843%202.222%201.843.81%200%20.857-.685%201.846-1.366%201.02-.701%201.183-1.649%201.171-2.024-.016-.522-1.558-.63-3.185-.63%22%2F%3E%3Cpath%20fill%3D%22%234F2A93%22%20d%3D%22M14.016%205.995c1.019-.701%201.182-1.648%201.17-2.024-.012-.413-.982-.567-2.194-.614.34.175.781.542.672%201.266-.112.754-1.3%201.588-1.107%202.254.036.13.1.233.179.318.355-.244.586-.723%201.28-1.2%22%2F%3E%3Cpath%20fill%3D%22%239A62FF%22%20d%3D%22M11.782%2013.181c-.495%200-.623.903-1.342%201.464-.881.687-1.719%201.534-1.949%202.751-.19%201.003-.018%201.128.212%201.2.229.07%201.992.37%203.72%200%201.73-.37%202.69-1.06%202.523-1.764-.16-.67-.644-1.243-1.535-1.905-.852-.633-1.134-1.746-1.63-1.746%22%2F%3E%3Cpath%20fill%3D%22%234F2A93%22%20d%3D%22M8.703%2018.595c.23.071%201.993.37%203.721%200%201.374-.294%202.262-.789%202.485-1.335a.138.138%200%200%200-.007-.033c-.097-.368-1.543-.59-3.342-.298-1.714.277-3.102.843-3.096%201.48.053.116.14.156.239.186%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') center center no-repeat;
}
.hi-health {
	/* width: 24px;
	height: 24px; */
	background: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23F74E52%22%20d%3D%22M2%204.5L6.167%202%2012%205.167%2017.833%202%2022%204.5V12l-4.167%205.833L12%2022l-5.833-4.167L2%2012z%22%2F%3E%3Cpath%20fill%3D%22%23FF6165%22%20d%3D%22M7.333%2016.667L3.667%2011.5V5.417l2.5-1.5L12%207.083l5.833-3.166%202.5%201.5V11.5l-3.666%205.167L12%2019.917z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M12%2014.083l4.667%202.584L12%2019.917z%22%20opacity%3D%22.5%22%2F%3E%3Cpath%20fill%3D%22%23B52428%22%20d%3D%22M12%2014.083l-4.667%202.584L12%2019.917z%22%20opacity%3D%22.35%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M7.333%2016.667L3.667%2011.5%2012%2014.083z%22%20opacity%3D%22.25%22%2F%3E%3Cpath%20fill%3D%22%23B52428%22%20d%3D%22M16.667%2016.667l3.666-5.167L12%2014.083z%22%20opacity%3D%22.5%22%2F%3E%3Cpath%20fill%3D%22%23B52428%22%20d%3D%22M12%2014.083l5.833-10.166%202.5%201.5V11.5z%22%20opacity%3D%22.35%22%2F%3E%3Cpath%20fill%3D%22%23B52428%22%20d%3D%22M12%2014.083L6.167%203.917l-2.5%201.5V11.5z%22%20opacity%3D%22.5%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M12%2014.083L6.167%203.917%2012%207.083z%22%20opacity%3D%22.5%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M12%2014.083l5.833-10.166L12%207.083z%22%20opacity%3D%22.25%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M9.167%2014.833l-3-4.166V6.833h.083L12%209.917l5.75-3.084h.083v3.834l-3%204.166L12%2016.917z%22%20opacity%3D%22.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') center center no-repeat;
}
.hi-mana {
	background: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%232995CD%22%20d%3D%22M22%2015l-10%209-10-9L12%200z%22%2F%3E%3Cpath%20fill%3D%22%2350B5E9%22%20d%3D%22M4.6%2014.7l7.4-3v9.6z%22%2F%3E%3Cpath%20fill%3D%22%231F709A%22%20d%3D%22M12%2011.7l7.4%203-7.4%206.6z%22%20opacity%3D%22.25%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M12%2011.7V3.6l7.4%2011.1z%22%20opacity%3D%22.25%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M4.6%2014.7L12%203.6v8.1z%22%20opacity%3D%22.5%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M7.2%2014.3L12%207.2l4.8%207.1-4.8%204.3z%22%20opacity%3D%22.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') center center no-repeat;
}
.hi-experience {
	/* width: 24px;
	height: 24px; */
	background: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23FFA623%22%20d%3D%22M16%2016l8-4-8-4-4-8-4%208-8%204%208%204%204%208z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M4.5%2012l5-2.5L12%2012zM12%2019.5l-2.5-5L12%2012zM19.5%2012l-5%202.5L12%2012zM12%204.5l2.5%205L12%2012z%22%20opacity%3D%22.25%22%2F%3E%3Cpath%20fill%3D%22%23BF7D1A%22%20d%3D%22M19.5%2012l-5-2.5L12%2012z%22%20opacity%3D%22.25%22%2F%3E%3Cpath%20fill%3D%22%23BF7D1A%22%20d%3D%22M12%2019.5l2.5-5L12%2012z%22%20opacity%3D%22.5%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M4.5%2012l5%202.5L12%2012zM12%204.5l-2.5%205L12%2012z%22%20opacity%3D%22.5%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M10.8%2013.2L8.5%2012l2.3-1.2L12%208.5l1.2%202.3%202.3%201.2-2.3%201.2-1.2%202.3z%22%20opacity%3D%22.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') center center no-repeat;
}

.hi-class {
	width: 27px;
	height: 27px;
}

.hi-rogue {
	background: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2048%2048%22%3E%0A%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%3Cpath%20fill%3D%22%234F2A93%22%20d%3D%22M6.492%2035.154l7.358-7.359c1.05-4.274%202.135-8.752%202.22-9.226.072-.495.235-1.597%201.132-2.653.453-.53%201.008-.966%201.707-1.35L39.353%203.301l6.69-1.557-1.494%206.599-11.334%2020.542c-.359.655-.768%201.185-1.248%201.615l-.083.073c-1.065.906-2.133%201.064-2.707%201.15-.447.081-5.02%201.19-9.185%202.212l-7.36%207.36.868%204.688-9.87-1.826-1.828-9.871%204.69.868z%22%2F%3E%0A%3Cpath%20fill%3D%22%234F2A93%22%20d%3D%22M36.05%2041.079l-7.358-7.359c-4.274-1.05-8.753-2.135-9.226-2.22-.495-.071-1.597-.234-2.653-1.13-.53-.454-.966-1.01-1.35-1.708L4.197%208.218%202.641%201.527%209.24%203.021%2029.78%2014.355c.656.36%201.186.768%201.616%201.248l.073.084c.906%201.064%201.064%202.133%201.15%202.707.081.446%201.19%205.019%202.212%209.184l7.36%207.361%204.688-.868-1.826%209.87-9.871%201.827.868-4.689z%22%2F%3E%0A%3Cpath%20fill%3D%22%23C6B6E4%22%20d%3D%22M18.141%2027.193c.22.399.432.664.647.848l7.643-2.722L6.48%205.368c-.164.188.048.728.39%201.377%22%2F%3E%0A%3Cpath%20fill%3D%22%238966C7%22%20d%3D%22M18.792%2028.043c.39.332.78.386%201.181.447.622.091%2010.277%202.468%2010.277%202.468l.91-.91-4.73-4.728-7.638%202.723z%22%2F%3E%0A%3Cpath%20fill%3D%22%237A54C0%22%20d%3D%22M28.306%2017.029c.398.219.663.432.847.647l-2.721%207.642L6.482%205.37c.184-.163.714.036%201.353.363%22%2F%3E%0A%3Cpath%20fill%3D%22%236133B4%22%20d%3D%22M29.155%2017.68c.332.39.386.78.447%201.181.092.622%202.469%2010.276%202.469%2010.276l-.91.91-4.73-4.729%202.724-7.638z%22%2F%3E%0A%3Cpath%20fill%3D%22%238966C7%22%20d%3D%22M35.402%2036.111l-1.494-1.494.467-3.177%201.494%201.495zM38.39%2039.1l-1.494-1.495.468-3.176%201.494%201.494zM32.07%2029.137l.81.81-.467%203.174-2.164-2.162%22%2F%3E%0A%3Cpath%20fill%3D%22%236133B4%22%20d%3D%22M33.908%2034.617l-1.495-1.495.468-3.176%201.494%201.494zM36.896%2037.605l-1.494-1.494.468-3.176%201.494%201.494zM39.885%2040.594L38.39%2039.1l.467-3.177%202.849%202.849z%22%2F%3E%0A%3Cpath%20fill%3D%22%23C6B6E4%22%20d%3D%22M30.25%2030.959l.162-1.657%201.66-.165-.165%201.659zM39.632%2038.52l-.637%203.436%202.037-2.037zM43.069%2037.882l-3.437.637%201.4%201.4zM41.032%2039.92l-2.037%202.036%203.437-.636zM42.432%2041.32l.637-3.437-2.037%202.037z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E') center center no-repeat;
}
.hi-warrior {
	background: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2048%2048%22%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22a%22%20d%3D%22M31.392%209.115l-6.791%207.124v6.314l6.791-6.791V9.115z%22%2F%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate%280%201%29%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23F06166%22%20d%3D%22M18.39%2028.762l6.334%202.92c.526.243.868.732.999%201.297.219.948.883%203.156.937%204.33a.88.88%200%200%201-1.24.844l-10.588-5.07a1.781%201.781%200%200%201-.762-.763L9%2021.733a.88.88%200%200%201%20.844-1.24c1.173.054%203.335.683%204.33.937.56.142%201.054.472%201.296.998l2.92%206.334z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23C82B2B%22%20d%3D%22M3.073%2044.085l2.732%202.733%207.085-.557.364-4.656%204.069-4.067%207.401%203.522%205.536-1.49-2.322-9.99%2015.514-14.477L46.422.741l-.007.002.003-.003V.734L32.057%203.702%2017.58%2019.218l-9.99-2.322L6.1%2022.43l3.522%207.403L5.555%2033.9l-4.654.367-.559%207.084%202.732%202.733z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23F06166%22%20d%3D%22M8.927%2041.769l-3.544-3.544%208.767-8.765%203.542%203.544z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23F06166%22%20d%3D%22M3.377%2040.231l.255-3.235%203.236-.255%203.544%203.546-.255%203.233-3.234.258z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23FFB6B8%22%20d%3D%22M33.935%206.526l.3%206.391%208.108-8.108c-.15-.14-6.26.565-8.408%201.717%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23F27B86%22%20d%3D%22M33.787%206.602L16.66%2024.568l4.39%201.538%2013.186-13.189-.3-6.392c-.048.027-.148.077-.148.077%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23F27B86%22%20d%3D%22M16.66%2024.567l-.148.164%201.864%204.045%202.67-2.67-4.386-1.539zM40.624%2013.22l-6.392-.3%208.109-8.108c.14.15-.565%206.259-1.717%208.408%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23E5414D%22%20d%3D%22M40.548%2013.368L22.582%2030.496l-1.538-4.39L34.233%2012.92l6.391.3a5.032%205.032%200%200%200-.076.148%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23E5414D%22%20d%3D%22M22.582%2030.495l-.163.148-4.045-1.864%202.67-2.67%201.538%204.386z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23FFB6B8%22%20d%3D%22M6.867%2036.742l-.75%202.742-2.486-2.487zM10.406%2040.28l-2.742.75%202.486%202.486z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23FFB6B8%22%20d%3D%22M6.867%2036.742l3.546%203.546-2.748.741-1.547-1.545z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23F27B86%22%20d%3D%22M3.382%2040.237l2.742-.75-2.486-2.486zM6.921%2043.776l.75-2.742%202.486%202.486z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23F27B86%22%20d%3D%22M3.382%2040.237l3.547%203.546.74-2.748-1.545-1.547z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23E5414D%22%20d%3D%22M14.701%2036.01l-3.552-3.553%202.143-2.14%203.552%203.55z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23F06166%22%20d%3D%22M12.56%2038.151L9.008%2034.6l2.142-2.14%203.552%203.55z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23E5414D%22%20d%3D%22M10.418%2040.293L6.866%2036.74l2.142-2.14%203.552%203.55z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23FFB6B8%22%20d%3D%22M18.395%2028.764l-2.92-6.334a1.629%201.629%200%200%200-.46-.576%202.12%202.12%200%200%200-.836-.422c-.995-.254-3.157-.883-4.33-.937a.871.871%200%200%200-.727.336l4.258%203.634%203.13%206.192%201.89-1.89-.005-.003z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23F06166%22%20d%3D%22M13.38%2024.466L9.12%2020.83a.871.871%200%200%200-.117.904l5.07%2010.587c.085.165.197.313.327.444l2.109-2.108-3.13-6.192z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23F27B86%22%20d%3D%22M26.674%2037.312c-.054-1.173-.684-3.337-.937-4.33a2.12%202.12%200%200%200-.423-.836%201.629%201.629%200%200%200-.576-.46l-6.334-2.92-.002-.005-1.891%201.891%206.192%203.13%203.635%204.258a.874.874%200%200%200%20.336-.728%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23E5414D%22%20d%3D%22M22.703%2033.781l3.634%204.259a.871.871%200%200%201-.904.117l-10.587-5.07a1.766%201.766%200%200%201-.444-.327l2.109-2.108%206.192%203.13z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cmask%20id%3D%22b%22%20fill%3D%22%23fff%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23a%22%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2Fmask%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23FFB6B8%22%20d%3D%22M29.472%2023.28h.987V5.828h-.987zM24.601%2027.692h2.92V10.24h-2.92z%22%20mask%3D%22url%28%23b%29%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E') center center no-repeat;
}
.hi-mage {
	background: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2048%2048%22%3E%0A%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%3Cpath%20fill%3D%22%231F6EA2%22%20d%3D%22M24.462%201.151c-3.695%203.714-7.321%2014.62-9.236%2020.913-.84-1.062-1.799-2.076-3.158-3.326-4.806%203.514-7.357%207.25-10.646%2011.816%208.916%207.926%2011.233%209.256%2022.995%2016.005l.045-.025h.001l.045.025c11.76-6.749%2014.079-8.08%2022.994-16.005-3.287-4.566-5.841-8.302-10.645-11.816-1.361%201.25-2.317%202.264-3.158%203.326-1.915-6.294-5.543-17.2-9.236-20.913h-.001z%22%2F%3E%0A%3Cpath%20fill%3D%22%23278ABF%22%20d%3D%22M24.464%2032.108l3.561-1.265c6.075-.605%208.425-2.281%209.426-3.498l6.053%202.707.002.013a.45.45%200%200%201-.105.286%204.97%204.97%200%200%201-.32.33c-3.405%203.315-18.237%2011.981-18.617%2012.202V32.108z%22%2F%3E%0A%3Cpath%20fill%3D%22%2353B4E5%22%20d%3D%22M36.406%2023.041c.23-.188.292-.34.674-.336%201.183.067%205.169%205.175%206.064%206.461.194.278.366.61.36.885l-6.053-2.707c.236-.367.19-.92-.355-1.252-.818-.501-2.529.949-2.959.284-.599-.927%202.04-3.147%202.27-3.335%22%2F%3E%0A%3Cpath%20fill%3D%22%232AA0CF%22%20d%3D%22M23.591%207.487c-5.39%2015.419-8.227%2023.817-8.227%2023.817l9.097%204.76V6.839c-.36%200-.718.216-.87.648%22%2F%3E%0A%3Cpath%20fill%3D%22%23278ABF%22%20d%3D%22M25.332%207.487c-.152-.432-.51-.648-.87-.648v29.225l9.097-4.76s-2.837-8.398-8.227-23.817%22%2F%3E%0A%3Cpath%20fill%3D%22%234DB2D6%22%20d%3D%22M24.462%2032.108L20.9%2030.843c-6.075-.605-8.342-2.352-9.425-3.498L5.42%2030.052l-.002.013a.45.45%200%200%200%20.106.286c.09.104.197.215.318.33%203.406%203.315%2018.238%2011.981%2018.619%2012.202V32.108z%22%2F%3E%0A%3Cpath%20fill%3D%22%236BC4E9%22%20d%3D%22M12.519%2023.041c-.23-.188-.292-.34-.674-.336-1.183.067-5.169%205.175-6.063%206.461-.194.278-.367.61-.361.885l6.053-2.707c-.236-.367-.19-.92.356-1.252.817-.501%202.528.949%202.958.284.6-.927-2.039-3.147-2.27-3.335%22%2F%3E%0A%3Cpath%20fill%3D%22%23A9DBF6%22%20d%3D%22M24.463%2034.998v-5.101l-7.21-4.13-1.48%204.049z%22%2F%3E%0A%3Cpath%20fill%3D%22%2384CFF2%22%20d%3D%22M24.463%2034.998v-5.101l7.207-4.13%201.483%204.049z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E') center center no-repeat;
}
.hi-healer {
	background: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2048%2048%22%3E%0A%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%3Cpath%20fill%3D%22%23CF8229%22%20d%3D%22M24.61%2047.604s-1.789-.735-2.585-1.138l-.183-.09c-5.13-2.58-10.54-5.782-13.881-12.108-3.777-7.15-3.05-18.565-2.955-19.843.075-1.003.378-3.464.378-3.464s1.941-.858%202.901-1.311l13.864-7.012c.764-.363%202.462-1.114%202.462-1.114s1.697.75%202.463%201.114l13.86%207.01c.966.457%203.05%201.315%203.05%201.315s.157%202.467.232%203.465c.094%201.275.822%2012.69-2.955%2019.84-3.343%206.33-8.755%209.53-13.876%2012.103l-.19.096c-.795.402-2.584%201.137-2.584%201.137%22%2F%3E%0A%3Cpath%20fill%3D%22%23E29E45%22%20d%3D%22M12.694%2016.147l11.059-5.695c.27-.129.564-.192.858-.192V5.829c-.294%200-.588.063-.858.192L9.888%2013.032a1.985%201.985%200%200%200-.727.603l3.533%202.523v-.011M24.612%2010.259V5.827z%22%2F%3E%0A%3Cpath%20fill%3D%22%23FDC67E%22%20d%3D%22M23.752%206.008L9.89%2013.02c-.655.31-1.09.945-1.145%201.665-.034.466-.81%2011.487%202.531%2017.814%202.782%205.266%207.36%208.048%2012.242%2010.504l.19.096c.284.142.593.213.902.213V5.816c-.293%200-.585.064-.858.192%22%2F%3E%0A%3Cpath%20fill%3D%22%23FFA623%22%20d%3D%22M25.512%2043.099l.19-.096c4.885-2.454%209.462-5.238%2012.244-10.505%203.341-6.326%202.565-17.347%202.53-17.813a2.009%202.009%200%200%200-1.143-1.665L25.468%206.008a1.999%201.999%200%200%200-.858-.192v37.496c.31%200%20.618-.071.902-.213%22%2F%3E%0A%3Cpath%20fill%3D%22%23FFDDB5%22%20d%3D%22M12.694%2016.134l11.059-5.694c.27-.129.564-.192.858-.192V5.816c-.294%200-.587.064-.858.192L9.889%2013.02a1.985%201.985%200%200%200-.728.603l3.533%202.523v-.012%22%2F%3E%0A%3Cpath%20fill%3D%22%23FDC67E%22%20d%3D%22M39.333%2013.02L25.468%206.008a1.999%201.999%200%200%200-.858-.192v4.431c.294%200%20.588.065.858.192l11.065%205.702%203.527-2.519a1.973%201.973%200%200%200-.727-.602%22%2F%3E%0A%3Cpath%20fill%3D%22%23FFA623%22%20d%3D%22M24.214%2038.858c-4.197-2.128-7.383-4.438-9.389-8.235-2.239-4.238-2.229-11.63-2.131-14.477L9.16%2013.623a2%202%200%200%200-.417%201.062c-.015.207-.174%202.498-.057%205.531.148%203.798.731%208.765%202.59%2012.282%202.782%205.267%207.357%208.05%2012.242%2010.505l.19.096c.284.142.593.213.902.213v-4.33c-.098%200-.197-.04-.397-.124%22%2F%3E%0A%3Cpath%20fill%3D%22%23E59025%22%20d%3D%22M34.395%2030.623c-2.008%203.804-5.203%206.113-9.406%208.243-.188.078-.282.117-.378.117v4.33c.31%200%20.618-.072.9-.214l.19-.096c4.885-2.455%209.462-5.238%2012.244-10.504%201.857-3.518%202.443-8.485%202.59-12.282.118-3.034-.044-5.325-.06-5.532a1.995%201.995%200%200%200-.414-1.064l-3.527%202.521c.129%203.53-.07%2010.566-2.139%2014.481%22%2F%3E%0A%3Cpath%20fill%3D%22%23FFE4C9%22%20d%3D%22M16.076%2024.564l5.69-2.845%202.845%202.845zM24.61%2033.098l-2.845-5.688%202.846-2.846z%22%2F%3E%0A%3Cpath%20fill%3D%22%23E59025%22%20d%3D%22M33.145%2024.564l-5.689%202.846-2.845-2.846zM24.61%2016.03l2.846%205.689-2.845%202.845z%22%2F%3E%0A%3Cpath%20fill%3D%22%23E59025%22%20d%3D%22M33.145%2024.564l-5.689-2.845-2.845%202.845zM24.61%2033.098l2.846-5.688-2.845-2.846z%22%2F%3E%0A%3Cpath%20fill%3D%22%23FFE4C9%22%20d%3D%22M16.076%2024.564l5.69%202.846%202.845-2.846zM24.61%2016.03l-2.845%205.689%202.846%202.845z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E') center center no-repeat;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
