.MMM-HabiticaStats {
  padding: 20px;
  font-size: 25px;
  text-align: left;
  max-width: 560px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 25px; }
  .MMM-HabiticaStats .main-stats {
    padding-top: 20px; }
    .MMM-HabiticaStats .main-stats .habitica-icon-buff {
      width: 20px;
      padding-right: 10px; }
    .MMM-HabiticaStats .main-stats .wealth-icon {
      position: relative;
      top: 3px;
      padding-right: 10px; }
    .MMM-HabiticaStats .main-stats .wealth-group {
      padding-right: 20px; }
  .MMM-HabiticaStats .user-header img {
    display: inline-block;
    width: 60px;
    margin-bottom: 0px; }
  .MMM-HabiticaStats .user-header h1 {
    display: inline-block;
    font-size: 49px;
    margin-bottom: 0px; }
  .MMM-HabiticaStats .user-header .spacer {
    width: 100%;
    height: 0px;
    margin-bottom: 15px;
    margin-top: -5px;
    border-bottom: 3px solid rgba(151, 151, 151, 0.2); }
  .MMM-HabiticaStats .small-stats {
    margin-left: 15px;
    float: left; }
  .MMM-HabiticaStats .rings {
    margin: 15px 0px 15px -20px; }
  .MMM-HabiticaStats .death-warning {
    border: 1px solid #FF6165;
    padding: 5px 15px; }
    .MMM-HabiticaStats .death-warning i {
      font-size: 50px;
      display: block;
      float: left;
      margin: 5px 20px 5px 5px; }
  .MMM-HabiticaStats .level {
    text-transform: uppercase; }
  .MMM-HabiticaStats .title {
    text-transform: uppercase; }
  .MMM-HabiticaStats .stat-ring {
    margin: 0 20px 0 0;
    width: 160px;
    text-align: center;
    position: relative;
    float: left; }
    .MMM-HabiticaStats .stat-ring .current-stat {
      font-weight: bold; }
    .MMM-HabiticaStats .stat-ring .max-stat {
      font-weight: 300; }
  .MMM-HabiticaStats .circular-chart {
    width: 120px;
    margin: 0 auto;
    display: block;
    transform: rotate(-90deg);
    transform-origin: center center;
    filter: drop-shadow(2px 2px 4px rgba(10, 10, 10, 0.2)); }
  .MMM-HabiticaStats .circle {
    fill: none;
    stroke-width: 4;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards; }
  .MMM-HabiticaStats .shadow-circle {
    stroke: #585858;
    fill: none;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-opacity: 0.4; }
  .MMM-HabiticaStats .health {
    stroke: #FF6165; }
  .MMM-HabiticaStats .experience {
    stroke: #FFB445; }
  .MMM-HabiticaStats .mana {
    stroke: #50B5E9; }
  .MMM-HabiticaStats .stat-icon {
    position: absolute;
    top: 78px;
    left: 56px;
    width: 45px;
    height: 45px;
    filter: drop-shadow(2px 2px 4px rgba(10, 10, 10, 0.5)); }

@keyframes progress {
  0% {
    stroke-dasharray: 0 100; } }
  .MMM-HabiticaStats .big-stat-group {
    margin: 20px 0; }
    .MMM-HabiticaStats .big-stat-group .title {
      margin-bottom: 10px; }
  .MMM-HabiticaStats .big-stat {
    font-size: 49px;
    padding-right: 10px;
    position: relative;
    top: 4px; }
  .MMM-HabiticaStats .stat-group {
    border-left: 2px solid rgba(151, 151, 151, 0.2);
    padding: 10px 0 4px 0; }
    .MMM-HabiticaStats .stat-group i {
      padding-right: 15px;
      position: relative; }
    .MMM-HabiticaStats .stat-group .fa-users {
      top: -4px;
      left: -15px; }
    .MMM-HabiticaStats .stat-group .fa-user {
      top: -4px;
      left: -11px; }
    .MMM-HabiticaStats .stat-group .fa-calendar {
      top: -5px;
      left: -11px; }
    .MMM-HabiticaStats .stat-group .fa-check-circle {
      top: -4px;
      left: -13px; }
  .MMM-HabiticaStats .stat-group.due {
    float: left;
    width: 48%; }

.habitica-icon {
  display: inline-block; }

.hi-gold {
  width: 24px;
  height: 24px;
  background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%20fill%3D%22%23FFA623%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M6.3%2017.7c-3.1-3.1-3.1-8.2%200-11.3%203.1-3.1%208.2-3.1%2011.3%200%22%20opacity%3D%22.5%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M17.7%206.3c3.1%203.1%203.1%208.2%200%2011.3-3.1%203.1-8.2%203.1-11.3%200%22%20opacity%3D%22.25%22%2F%3E%3Cpath%20fill%3D%22%23BF7D1A%22%20d%3D%22M12%202C6.5%202%202%206.5%202%2012s4.5%2010%2010%2010%2010-4.5%2010-10S17.5%202%2012%202zm0%2018c-4.4%200-8-3.6-8-8s3.6-8%208-8%208%203.6%208%208-3.6%208-8%208z%22%20opacity%3D%22.5%22%2F%3E%3Cpath%20fill%3D%22%23BF7D1A%22%20d%3D%22M13%209v2h-2V9H9v6h2v-2h2v2h2V9z%22%20opacity%3D%22.75%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") center center no-repeat; }

.hi-gem {
  width: 24px;
  height: 24px;
  background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%2324CC8F%22%20d%3D%22M0%209l5-7h14l5%207-12%2013z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M7%208.8L6%204h6zM17%208.8L18%204h-6z%22%20opacity%3D%22.25%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M7%208.8L12%204l5%204.8zM2.6%208.8L6%204l1%204.8z%22%20opacity%3D%22.5%22%2F%3E%3Cpath%20fill%3D%22%231B996B%22%20d%3D%22M21.4%208.8L18%204l-1%204.8zM2.6%208.8H7l5%2010.3z%22%20opacity%3D%22.35%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M21.4%208.8H17l-5%2010.3z%22%20opacity%3D%22.5%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M7%208.8h10l-5%2010.3z%22%20opacity%3D%22.25%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") center center no-repeat; }

.hi-buffed {
  width: 25px;
  height: 23px;
  padding-right: 5px;
  background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2010%2012%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5%200l5%206H7v2H3V6H0l5-6zM3%209h4v1H3V9zm0%202h4v1H3v-1z%22%2F%3E%3C%2Fsvg%3E") center center no-repeat; }

.hi-hourglass {
  width: 22px;
  height: 25px;
  background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2025%2024%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23A9DCF6%22%20fill-opacity%3D%22.8%22%20d%3D%22M5.105%2018.122v2.555c0%20.3.134.586.377.763%202.647%201.935%209.952%201.935%2012.6%200a.941.941%200%200%200%20.376-.763v-2.555c0-2.331-1.196-4.568-3.007-5.9a.957.957%200%200%201%200-1.553c1.81-1.333%203.007-3.57%203.007-5.9V2.213c0-.3-.134-.586-.375-.761-2.649-1.936-9.954-1.936-12.601%200a.935.935%200%200%200-.377.761V4.77c0%202.33%201.196%204.567%203.008%205.9a.957.957%200%200%201%200%201.552c-1.812%201.333-3.008%203.57-3.008%205.9%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%22.9%22%20d%3D%22M11.782%201.907c2.169%200%203.857.394%204.768.844v2.017c0%201.68-.854%203.353-2.23%204.365a2.883%202.883%200%200%200-1.174%202.312c0%20.907.438%201.771%201.173%202.312%201.377%201.013%202.231%202.685%202.231%204.364v2.019c-.91.45-2.6.843-4.768.843-2.17%200-3.858-.394-4.769-.843V18.12c0-1.679.854-3.351%202.23-4.363a2.883%202.883%200%200%200%201.174-2.313c0-.907-.438-1.77-1.173-2.312-1.377-1.012-2.23-2.685-2.23-4.365V2.751c.91-.45%202.599-.844%204.768-.844%22%2F%3E%3Cpath%20fill%3D%22%239A62FF%22%20d%3D%22M12%203.34c-1.626%200-3.35.151-3.367.554-.015.325-.007.955%201.314%201.624%201.283.652%201.524%201.843%202.222%201.843.81%200%20.857-.685%201.846-1.366%201.02-.701%201.183-1.649%201.171-2.024-.016-.522-1.558-.63-3.185-.63%22%2F%3E%3Cpath%20fill%3D%22%234F2A93%22%20d%3D%22M14.016%205.995c1.019-.701%201.182-1.648%201.17-2.024-.012-.413-.982-.567-2.194-.614.34.175.781.542.672%201.266-.112.754-1.3%201.588-1.107%202.254.036.13.1.233.179.318.355-.244.586-.723%201.28-1.2%22%2F%3E%3Cpath%20fill%3D%22%239A62FF%22%20d%3D%22M11.782%2013.181c-.495%200-.623.903-1.342%201.464-.881.687-1.719%201.534-1.949%202.751-.19%201.003-.018%201.128.212%201.2.229.07%201.992.37%203.72%200%201.73-.37%202.69-1.06%202.523-1.764-.16-.67-.644-1.243-1.535-1.905-.852-.633-1.134-1.746-1.63-1.746%22%2F%3E%3Cpath%20fill%3D%22%234F2A93%22%20d%3D%22M8.703%2018.595c.23.071%201.993.37%203.721%200%201.374-.294%202.262-.789%202.485-1.335a.138.138%200%200%200-.007-.033c-.097-.368-1.543-.59-3.342-.298-1.714.277-3.102.843-3.096%201.48.053.116.14.156.239.186%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") center center no-repeat; }

.hi-health {
  /* width: 24px;
	height: 24px; */
  background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23F74E52%22%20d%3D%22M2%204.5L6.167%202%2012%205.167%2017.833%202%2022%204.5V12l-4.167%205.833L12%2022l-5.833-4.167L2%2012z%22%2F%3E%3Cpath%20fill%3D%22%23FF6165%22%20d%3D%22M7.333%2016.667L3.667%2011.5V5.417l2.5-1.5L12%207.083l5.833-3.166%202.5%201.5V11.5l-3.666%205.167L12%2019.917z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M12%2014.083l4.667%202.584L12%2019.917z%22%20opacity%3D%22.5%22%2F%3E%3Cpath%20fill%3D%22%23B52428%22%20d%3D%22M12%2014.083l-4.667%202.584L12%2019.917z%22%20opacity%3D%22.35%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M7.333%2016.667L3.667%2011.5%2012%2014.083z%22%20opacity%3D%22.25%22%2F%3E%3Cpath%20fill%3D%22%23B52428%22%20d%3D%22M16.667%2016.667l3.666-5.167L12%2014.083z%22%20opacity%3D%22.5%22%2F%3E%3Cpath%20fill%3D%22%23B52428%22%20d%3D%22M12%2014.083l5.833-10.166%202.5%201.5V11.5z%22%20opacity%3D%22.35%22%2F%3E%3Cpath%20fill%3D%22%23B52428%22%20d%3D%22M12%2014.083L6.167%203.917l-2.5%201.5V11.5z%22%20opacity%3D%22.5%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M12%2014.083L6.167%203.917%2012%207.083z%22%20opacity%3D%22.5%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M12%2014.083l5.833-10.166L12%207.083z%22%20opacity%3D%22.25%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M9.167%2014.833l-3-4.166V6.833h.083L12%209.917l5.75-3.084h.083v3.834l-3%204.166L12%2016.917z%22%20opacity%3D%22.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") center center no-repeat; }

.hi-mana {
  /* width: 24px;
	height: 24px; */
  background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%232995CD%22%20d%3D%22M22%2015l-10%209-10-9L12%200z%22%2F%3E%3Cpath%20fill%3D%22%2350B5E9%22%20d%3D%22M4.6%2014.7l7.4-3v9.6z%22%2F%3E%3Cpath%20fill%3D%22%231F709A%22%20d%3D%22M12%2011.7l7.4%203-7.4%206.6z%22%20opacity%3D%22.25%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M12%2011.7V3.6l7.4%2011.1z%22%20opacity%3D%22.25%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M4.6%2014.7L12%203.6v8.1z%22%20opacity%3D%22.5%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M7.2%2014.3L12%207.2l4.8%207.1-4.8%204.3z%22%20opacity%3D%22.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") center center no-repeat; }

.hi-experience {
  /* width: 24px;
	height: 24px; */
  background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23FFA623%22%20d%3D%22M16%2016l8-4-8-4-4-8-4%208-8%204%208%204%204%208z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M4.5%2012l5-2.5L12%2012zM12%2019.5l-2.5-5L12%2012zM19.5%2012l-5%202.5L12%2012zM12%204.5l2.5%205L12%2012z%22%20opacity%3D%22.25%22%2F%3E%3Cpath%20fill%3D%22%23BF7D1A%22%20d%3D%22M19.5%2012l-5-2.5L12%2012z%22%20opacity%3D%22.25%22%2F%3E%3Cpath%20fill%3D%22%23BF7D1A%22%20d%3D%22M12%2019.5l2.5-5L12%2012z%22%20opacity%3D%22.5%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M4.5%2012l5%202.5L12%2012zM12%204.5l-2.5%205L12%2012z%22%20opacity%3D%22.5%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M10.8%2013.2L8.5%2012l2.3-1.2L12%208.5l1.2%202.3%202.3%201.2-2.3%201.2-1.2%202.3z%22%20opacity%3D%22.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") center center no-repeat; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }
