.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 30%;
  max-height: 250px;
  width: 100px;
  float: left;
  padding: 20px;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

.mana {
    stroke: #0000ff;
}

.health {
    stroke: #ff0000;
}

.experience {
    stroke: #ffff00;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
